@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main_body{
    display: grid;
    grid-template-columns: 14% 80%;
}

.sidebars{
    height: 120%;
    padding: 1.5rem 0 0 1.5rem;
    background: url("/images/ev-sitelogo.png") #f2ebd9 no-repeat;
    background-blend-mode: multiply;    
    background-size: 10rem 5rem;
    background-position: 1rem 1rem;
    border-radius: 1.5rem;
    
    & h5{
        padding: 3.2rem 0 0 2.5rem;
    }
}

#sidebar{
    margin-top: 4rem;

    & .fas{
        color: #ee5a57;
    }

    & a{        
        text-decoration: none;
        color: #073453;
    }
    
    & p { 
        font-size: 14px;
        display: inline;
        margin-left: 1rem;
        color: #073453;
    }

    & #dashboard{
        margin-bottom: 7rem;
    }

    & #middle_bar{
        margin-bottom: 8rem;

        & .fas{
            margin-bottom: 1rem; 
        }
    }

    & #lower_bar{
        margin-bottom: 3rem;
        
        & .fas{
            margin-bottom: 0.5rem; 
        } 
    }

    & .progress_bar{
        margin: 1rem 1rem 0 0;
        height: 1.5rem; 
	    position: relative;
	    background:#b4b4b4;
        
        & span.progress{
                display: block;
                width: 30%;
                height: 100%;
                background-color: #ee5a57;
            }

        & p{
            margin: 0;
        }
        }
}

#second_section{
    display: inline-block;
    margin: 1.5rem;

    & p{
        font-size: 22px;
        color: #073453;
    }

    & #first{
        float: left;
        margin: 0.6rem 0 0 1rem;
    }

    & .profile_pic{
        border: 2px solid #073453;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        float: right;
        margin-right: 5rem;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #073453;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 1rem 0 0 1rem;
    outline: none;
  }
  
.searchTerm:focus{
    color: #073453;
  }
  
.searchButton {
    width: 45px;
    height: 50px;
    border: 1px solid #073453;
    background: #073453;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    font-size: 20px;
  }
  
.wrap{
    width: 45%;
    position: absolute;
    left: 42%;
  }

.icons{
    display: flex;
    margin-top: 8%;
    background-color: #f2ebd9;
    width: 95%;
    height: 4rem;
    border: 1px solid #073453;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;

    & .fas{
        font-size: 30px;
        color: grey;

        &:active{
            color: #073453;
        }
    }
}

.files{
    margin-top: 1rem;
    border: 1px solid #073453;
    border-radius: 1.5rem;
    height: 100%;
    width: 95%;
    color: #073453;

    & .flaticon-team{
        color: hsl(1, 72%, 76%);
        font-size: 2.5rem;
    }

    & #doc_list{
        border-collapse:separate; 
        border-spacing: 0 1rem; 
        margin: 0 2rem;
        width: 95%;
    }

    & tr{ 
        background: #F2EBD9 0% 0% no-repeat padding-box;
    }

    & td.file-icon {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    & .fas{
        color: hsl(1, 72%, 76%);
    }
    
    & h2{
        margin: 2rem 0 0 2rem;
        font-weight: 100;
        font-size: 20px;
    }

    & td{
        font-size: 16px;

        & .fa-file-pdf{
            font-size: 2rem;
        }

        &.details_depts{
            padding:1rem 1.5rem 1rem 35rem;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        & i{
            padding:0.5rem 1.5rem 0.5rem 1.5rem;
        }

        &.file_name{
            padding:0.5rem 0 0.5rem 0;

            & a{
            text-decoration: none;
            color: #073453;
            }
        }

        &.file_name_i{
            padding:0.5rem 0 0.5rem 0;

            & a{
            text-decoration: none;
            color: #073453;
            }
        }

        &.details_01{
            padding:0.2rem 1rem 0.2rem 1rem; 
        }

        &.view{
            padding: 0.5rem 0 0.5rem 8rem;

            & p{
            display: inline;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: hsl(1, 73%, 64%)!important;
            font-size: 14px!important;
            }
            
        }

        &.delete{
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem; 
            padding: 0.2rem 2.5rem 0 0;

            & p{
                display: inline;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                color: hsl(1, 73%, 64%)!important;
                font-size: 14px!important;
                }
        }
    }
}

.pagination {
    display: inline-block;
    // margin: 3rem 0 0 12rem;
}
  
  .pagination a {
    color: #073453;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid rgb(238, 140, 140);
  }
  
  .pagination a:hover{
      background-color: #ddd;
    }

    nav{
        display: none;
      }

    #menuToggle{
        display: none;
      }

@media (min-width:533px) and (max-width:1023px){
    .main_body{
        display: grid;
        grid-template-columns: 25% 84%;
    }

    .wrap{
        margin-top: 4.5rem;
        left: 11rem;
        width: 67%;
    }


    .pagination{
        position: fixed;
        bottom: 4rem;
        right: 2rem;
    }

    .pagination a {
    padding: 2px 12px;
  }

  .sidebars{
      display: none;
  }

  .headings{
    padding-top: 4rem;
  }

// nav{ 
//     // font-size: 13px;
//     // color: #073453;
//     // border-radius: 1.5rem;
//     display: flex;
//     // flex-direction: row;
//     // background-color: #f2ebd9;
//     // text-align: right;
// }

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 12px;
  color: #073453;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

ul .fas{
     color: hsl(1, 73%, 64%)!important;  
     }
}

@media (min-width:1280px){

    .main_body{
        display: grid;
        grid-template-columns: 18% 84%;
    }

    .files{

        & td.file_name{
            padding-right:14rem;
        }

        & td.file_name_i{
            padding-right:5rem;

            & a{
                color: #073453;
                text-decoration: none;
            }
        }

        & td.details_depts{
            padding:1rem 10rem 1rem 8rem;
        }
    }

    .pagination {
        margin: 2rem 0 0 15rem;
    }
}

@media(min-width:1600px){
    .pagination {
        margin: 2rem 0 0 28rem;
    }  
}

@media(min-width:1680px){
    .pagination {
        margin: 2rem 0 0 32rem !important;
    }  
}

@media(min-height:950px){
    .pagination {
        margin: 1.5rem 0 2rem 15rem;
    }  
}

@media (min-width:1024px) and (max-width:1279px){
    .main_body{
        display: grid;
        grid-template-columns: 20% 82%;
    }

    .wrap{
        width: 40%;
        left: 50%;
    }

    .files{
        & td.details_01{
            padding:0.2rem 2rem 0.2rem 2.4rem; 
        }

        & td.view{
            padding: 0.5rem 0;
        }

        & td.delete{
            padding: 0;
        }

        & td.details_depts{
            padding:1rem 1.5rem 1rem 10rem;
        }

        & #doc_list{
            width: 94%;
        }
    }

    #second_section .profile_pic{
        margin-right: 1rem;
    } 
    
    .pagination {
        margin: 3rem 0 0 12rem;
    }
}

@media (min-width:1920px){

.main_body{
        display: grid;
        grid-template-columns: 14% 84%;
}

.wrap{
    width: 45%;
    left: 38%;
  }

  #second_section{

    & .profile_pic{
        margin-right: 9rem;
    }
  }

.pagination {
    margin: 2rem 0 0 35rem;
}
}