.sidebars{
    height: 110%;
}

.icons-new{
    display: flex;
    margin-top: 8%;
    background-color: #f2ebd9;
    width: 90%;
    height: 3rem;
    border: 1px solid #073453;
    border-radius: 1rem;
    align-items: center;

    #item-name{
        margin-left: 8rem;
    }

    #upload{
        margin-left: 8rem;
    }

    #shared{
        margin-left: 8rem;
    }

    #action{
        margin-left: 10rem;
    }
}

.files{
    border: none;

    & td.file_icon {
        border-bottom-left-radius: 150rem;
    }

   & .file_name-u{
    padding-left: 3rem;
    
   }

   & .name-s{
    padding-left: 5.5rem;  
   }

   & .details-u{
    padding-left: 6rem;
   }

   & td.delete-u{
    border-top-right-radius: 150rem;
   }

   & .delete-u{
    padding: 0.5rem 7rem 0 3rem;
   }

   & .fa-folder{
    font-size: 2rem;
   }
}