.sidebars{
    height: 750px;
}

.icons-new{
    display: flex;
    margin-top: 8%;
    background-color: #f2ebd9;
    width: 90%;
    height: 3rem;
    border: 1px solid #073453;
    border-radius: 1rem;
    align-items: center;

    #item-name{
        margin-left: 10rem;
    }

    #upload{
        margin-left: 10rem;
    }

    #action{
        margin-left: 18rem;
    }
}

.files{
    border: none;

    & #doc_list{
        border-collapse:separate; 
        border-spacing: 0 2.5rem; 
    }

    & tr{ 
        background-color: #f2ebd9;
    }

    & td.file_icon {
        border-bottom-left-radius: 150rem;
    }

   & .file_name-u{
    padding-left: 4rem;
    
   }

   & .details-u{
    padding-left: 10rem;
   }

   & td.delete-u{
    border-top-right-radius: 150rem;
   }

   & .delete-u{
    padding: 0 10rem 0 12rem;
   }

   & .fa-folder{
    font-size: 2rem;
   }
}