@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main_body{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebars{
    height: 100%;
    padding: 1.5rem 0 0 1.5rem;
    background: url("/images/ev-sitelogo.png") #f2ebd9 no-repeat;
    background-blend-mode: multiply;    
    background-size: 8rem 3rem;
    background-position: 1rem 0.2rem;
    border-radius: 1.5rem;
    
    & h5{
        padding: 1rem 0 0 2rem;
    }
}

#sidebar{
    margin-top: 4rem;

    & .fas{
        color: #ee5a57;
    }

    & a{        
        text-decoration: none;
        color: #073453;
    }

    & p { 
        font-size: 14px;
        display: inline;
        margin-left: 1rem;
        color: #073453;
    }

    & #dashboard{
        margin-bottom: 7rem;
    }

    & #middle_bar{
        margin-bottom: 8rem;

        & .fas{
            margin-bottom: 1rem; 
        }
    }

    & #lower_bar{
        margin-bottom: 3rem;
        
        & .fas{
            margin-bottom: 0.5rem; 
        } 
    }

    & .progress_bar{
        margin-top: 1rem;
        width: 60%;
        height: 1.5rem; 
	    position: relative;
	    background:#b4b4b4;
        
        & span.progress{
                display: block;
                width: 30%;
                height: 100%;
                background-color: #ee5a57;
            }

        & p{
            margin: 0;
        }
        }
}

#second_section{
    display: inline-block;
    margin: 1.5rem;

    & p{
        font-size: 22px;
        color: #073453;
    }

    & #first{
        float: left;
    }

    & .profile_pic{
        border: 2px solid #073453;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        float: right;
        margin-right: 5rem;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #073453;
    border-right: none;
    padding: 5px;
    height: 32px;
    border-radius: 1rem 0 0 1rem;
    outline: none;
  }
  
.searchTerm:focus{
    color: #073453;
  }
  
.searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid #073453;
    background: #073453;
    color: #fff;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    font-size: 20px;
  }
  
.wrap{
    width: 30%;
    position: absolute;
    left: 45%;
  }

.icons{
    display: flex;
    margin-top: 8%;
    background-color: #f2ebd9;
    width: 100%;
    height: 4rem;
    border: 1px solid #073453;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;

    & .fas{
        font-size: 30px;
        color: grey;

        &:active{
            color: #073453;
        }
    }
}

.files{
    margin-top: 2rem;
    border: 1px solid #073453;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    color: #073453;

    & .flaticon-team{
        color: hsl(1, 72%, 76%);
        font-size: 2.5rem;
    }

    & #doc_list{
        border-collapse:separate; 
        border-spacing: 0 2rem; 
        margin-left: 2rem;
    }

    & tr{ 
        background: #F2EBD9 0% 0% no-repeat padding-box;
    }

    & td.file-icon {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    & .fas{
        color: #6bdeff;
    }
    
    & h2{
        margin: 2rem 0 0 2rem;
        font-weight: 100;
        font-size: 20px;
    }

    & td{
        text-align: center;
        font-size: 16px;

        & .fa-file-pdf{
            font-size: 2rem;
        }

        &.details_depts{
            padding:1.5rem 1.5rem 2rem 35rem;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        & i{
            padding:1rem 1.5rem 2rem 2rem;
        }

        &.file_name{
            padding:1rem 0 1rem 0;

            & a{
            text-decoration: none;
            color: #073453;
            }
        }

        &.details{
            padding:2rem 1.5rem 2rem 3.5rem; 
        }

        &.view{
            color:#6bdeff;
            padding: 1rem 0 0 15rem;
        }

        &.delete{
            color:#6bdeff;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem; 
            padding-top: 1rem;
        }
    }
}