.files{

& .delete-icon{
    color: hsl(1, 75%, 70%);
    font-size: 22px; 
}

 & td .restore-icon{
    color: hsl(1, 75%, 70%);
    font-size: 21px;
}
}

.btn{
    text-align: center;
    margin-top: 8rem;
}

.restore-btn{
    border-radius: 1rem;
    background-color: hsl(1, 75%, 70%);

    & .fas{
        color: #073453;
        font-size: 1.8rem;
        padding: 1rem 5rem 1rem 2rem;
    }

    & p{
        color: #073453;
        display: inline-block;
        padding: 0 8rem 1rem 0;
        font-size: 19px;
    }

}

.delete-btn{
    border-radius: 1rem;
    background-color: hsl(1, 75%, 70%);
    margin-left: 4.8rem;

    & .flaticon-delete{
        color: #073453;
        font-size: 2rem;
        padding: 1rem 5rem 1rem 2rem;
    }

    & p{
        color: #073453;
        display: inline-block;
        padding: 1.2rem 8rem 1rem 0;
        font-size: 19px;
    }
}

@media (min-width:533px){
    .btn{
        margin-top: 4rem;
    }
    
    .restore-btn{
        border-radius: 1rem;
        background-color: hsl(1, 75%, 70%);
    
        & .fas{
            color: #073453;
            font-size: 1.5rem;
            padding: 1rem 2rem 1rem 1rem;
        }
    
        & p{
            color: #073453;
            display: inline-block;
            padding: 0 2rem 1rem 0;
            font-size: 19px;
        }
    
    }
    
    .delete-btn{
        display: block;
        margin-top: 1rem;
        border-radius: 1rem;
        background-color: hsl(1, 75%, 70%);
    
        & .flaticon-delete{
            color: #073453;
            font-size: 2rem;
            padding: 1.4rem 1.5rem 1rem 0;
        }
    
        & p{
            color: #073453;
            display: inline-block;
            padding: 1rem 2.4rem 1rem 0;
            font-size: 19px;
        }
    }
}

@media (min-width:1920px){

.files{

    & .delete-s{
        padding: 0 6rem 0 1rem;
       }
    
    & .file_name-s{
        padding: 0 12rem 0 0;
       }

    & .name-s{
        padding: 0 13rem 0 2rem;
    }

    & .details-s{
        padding: 0 11rem 0 0;
    }
}
}