.files{

& .delete-icon{
    color: hsl(1, 75%, 70%);
    font-size: 22px; 
}

 & td .restore-icon{
    color: hsl(1, 75%, 70%);
    font-size: 21px;
}
}

@media (min-width:1920px){

    .files{
    
        & .delete-s{
            padding-right: 4rem;
           }
        
        & .file_name-s{
            padding: 0 2rem 0 0.4rem;
           }
    
        & .name-s{
            padding: 0 1rem 0 3.6rem;
        }
    
        & .details-s{
            padding: 0 0 0 4rem;
        }
    }
    }